.jdata_rt_box {
  width: 23%; //438px
  height: 88%; //950px
  background: rgba(0, 0, 0, 0.6);
  border: 2px solid #ffbd75;
  overflow: hidden;
  position: absolute;
  right: 10px;
  top: 6%;
  .jdata_rt_title {
    background-image: url(../../images/Jhome/e_title_bg.png);
    width: 41.32%; //181px
    height: 2.7%; //26px
    background-size: 100% 100%;
    margin-left: 18px;
    margin-top: 13px;
    margin-bottom: 4.1%; //39px
    padding-top: 1%;
    padding-bottom: 1%;
    overflow: hidden;
    img {
      width: 11%;
      margin-left: 16px;
      float: left;
    }
    span {
      font-size: 18px;
      font-family: PingFang SC;
      font-weight: 400;
      color: #ffe6a6;
      display: inline-block;
      margin-left: 6px;
    }
  }
}
