.statistical {
  width: 23%; //438px
  height: 88%; //950px
  background: rgba(0, 0, 0, 0.6);
  border: 2px solid #ffbd75;
  overflow: hidden;
  position: absolute;
  right: 10px;
  top: 6%;
  .e_top_title {
    background-image: url(../../images/Jhome/e_title_bg.png);
    width: 41.32%; //181px
    height: 2.7%; //26px
    background-size: 100% 100%;
    margin-left: 18px;
    margin-top: 13px;
    margin-bottom: 4.1%; //39px
    padding-top: 1%;
    padding-bottom: 1%;
    overflow: hidden;
    img {
      width: 11%;
      margin-left: 16px;
      float: left;
    }
    span {
      font-size: 18px;
      font-family: PingFang SC;
      font-weight: 400;
      color: #ffe6a6;
      display: inline-block;
      margin-left: 6px;
    }
  }
  .s_menu {
    margin-top: 7%;
    ul {
      overflow: hidden;
      margin-left: 18px;
      li {
        width: 22.8%; //100px;
        height: 3.2%; //30px
        line-height: 30px;
        font-size: 16px;
        font-family: PingFang SC;
        font-weight: 400;
        color: #ffeeda;
        float: left;
        text-align: center;
      }
      .active {
        background-image: url(../../images/Jhome/e_name_bg.png);
        background-size: 100% 100%;
      }
    }
  }
  .people_box {
    width: 91.3%; //400px
    height: 168px; //168px
    background-image: url(../../images/Jhome/s-bj.png);
    background-size: 100% 100%;
    margin-left: 18px;
    margin-top: 25px;
    margin-bottom:8%;
    overflow: hidden;
    .pic {
      width: 31.5%; //126px
      // height:126px;//126px
      margin-top: 6%; //22px
      margin-left: 6.75%; //27px
      float: left;
    }
    .p_box {
      float: left;
      .p_name {
        font-size: 16px;
        font-family: PingFang SC;
        font-weight: 400;
        color: #dedad4;
        margin-bottom: 20px;
      }
      .p_value {
        font-size: 22px;
        font-family: ShiShangZhongHeiJianTi;
        font-weight: 400;
        color: #dedad4;
      }
      .p_car_name {
        font-size: 18px;
        margin-bottom: 12px;
      }
      .p_car_value {
        font-size: 28px;
      }
    }
    .people_line {
      float: left;
      margin-left: 20px;
      margin-top: -10px;
    }
    .p_con_box {
      margin-left: 23px;
      float: left;
      margin-top: 15%;
    }
  }
  .y_box {
    background-image: url(../../images/Jhome/y_bg.png);
    background-size: 100% 100%;
    width: 91.32%; //400px
    height: 16.84%; //160px
    margin-left: 18px;
    margin-top:6%;
    margin-bottom:8%;
    .y_title {
      overflow: hidden;
      .y_left {
        display: inline-block;
        width: 30%; //131px
        height: 2.74%; //26px
        background-image: url(../../images/Jhome/y_title_bg.png);
        background-size: 100% 100%;
        font-size: 16px;
        font-family: PingFang SC;
        font-weight: 400;
        color: #ffeeda;
        text-align: center;
        line-height: 26px;
        margin-left: 18px;
        margin-top: 10px;
        float: left;
      }
      .y_right {
        display: inline-block;
        font-size: 14px;
        font-family: PingFang SC;
        font-weight: 400;
        color: #ffeeda;
        float: right;
        margin-right: 18px;
        line-height: 26px;
        margin-top: 10px;
      }
    }
    .y_co {
      font-size: 14px;
      font-family: PingFang SC;
      font-weight: 400;
      color: #ffeeda;
      margin-left: 18px;
      margin-top: 2.6%; //20px
    }
    .y_btn_box {
      margin-left: 107px;
      margin-top: 21px;
      .y_btn {
        width: 84px;
        height: 26px;
        background-image: url(../../images/Jhome/anniu.png);
        background-size: 100% 100%;
        font-size: 14px;
        font-family: PingFang SC;
        font-weight: 400;
        color: #ffeeda;
        float: left;
        margin-right: 19px;
        text-align: center;
        line-height: 26px;
        cursor: pointer;
      }
    }
  }
  .yc_box {
    margin-top:6%;
    .yc_title {
      font-size: 16px;
      font-family: PingFang SC;
      font-weight: 300;
      color: #ffe6a6;
      margin-left: 18px;
    }
  }
}
