.j_footer {
  min-width: 1920px;
  max-width: 100%;
  height: 5%; //设计稿height53px
  background-image: url(../../images/Jhome/footer.png);
  background-size: 100% 100%;
  background-color: transparent;
  position: fixed;
  left: 50%;
  transform: translate(-50%);
  bottom: 0px;
  .j_left {
    float: left;
    img {
      // width: 32px; //设计稿width32px;
      height: 3%; //设计稿height32px;
      margin-top: 2%; //6.5px
      float: left;
      margin-left: 70px;
    }
    span {
      font-size: 18px;
      font-family: PingFang SC;
      font-weight: 100;
      color: #ffeeda;
      display: inline-block;
      border-right: 1px solid #ffeeda;
      padding-left: 18px;
      padding-right: 18px;
      margin-top: 16px;
    }
    span:last-child {
      border-right: 0px;
    }
  }
  .j_center {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: 520px;
    margin-left: 20px;
    overflow: hidden;
    li {
      float: left;
      margin-right: 23px;
      cursor: pointer;
      img {
        // width: 32px;
        height: 3%;
        margin-top: 8%;
        float: left;
        margin-right: 5px;
      }
      span {
        font-size: 20px;
        font-family: PingFang SC;
        font-weight: 400;
        color: #fdcf9a;
        display: inline-block;
        line-height: 45px;
      }
      .activeValue {
        color: #ff8802;
      }
    }
  }
  .j_right {
    float: right;
    margin-right: 70px;
    img {
      height: 3%;
      margin-top: 2%;
      margin-right: 9px;
      float: left;
    }
    span {
      font-size: 18px;
      font-family: PingFang SC;
      font-weight: 100;
      color: #ffeeda;
      display: inline-block;
      line-height: 53px;
    }
  }
}

.notice-container {
  padding: 0 10px;
  align-items: center;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex: 1;
  display: inline-block;
  width: 400px;
}
.header-notice-marquee {
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 53px;
  line-height: 53px;
}
.notice-container .header-marquee-item1 {
  margin: 0 10px;
  position: absolute;
  left: 0;
  animation: marquee1 15s linear infinite;
}

.notice-container .header-marquee-item2 {
  margin: 0 10px;
  position: absolute;
  left: 0;
  animation: marquee2 15s linear infinite;
}

.notice-container .header-notice-marquee:hover {
  animation-play-state: paused;
}
.notice-container .header-notice-marquee .header-marquee-item {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
}

@keyframes marquee1 {
  0% {
    left: 0%;
  }
  100% {
    left: -120%;
  }
}

@keyframes marquee2 {
  0% {
    left: 120%;
  }
  100% {
    left: 0%;
  }
}
